<div class="ui container" id="post-edit-page">

	<h1>Editing Post</h1>

	<%= render 'form' %>


	<%#button_to 'Back', posts_path, :method => "get", :class => "ui button" %>

	<!--<div class="post-edit-page-back-button"> -->
	<%= button_to 'Back', posts_path, :method => "get", :class => "ui button", :id => "post-edit-page-back-button" %>
	<!-- </div> -->



	<%# link_to 'Show', @post %> 
	<%# link_to 'Back', posts_path %>

</div>