<div class="ui container" id="post-new-page">

	<h1>Create New Post</h1>

	<%= render 'form' %>

	<%= button_to 'Back', posts_path, :method => "get", :class => "ui button", :id => "post-new-page-back-button" %>

</div>